.navigation {
	background: var(--main-theme-color);
  color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
  padding: 5px 0;
	.navigationCont {
		max-width: 1220px;
		display: flex;
		flex-direction: row;
		align-items: center;
    @media (max-width: 1340px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
    }
	}
	.navWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
    justify-content: center;
		width: 100%;
		gap: 48px;
		@media (max-width: 1340px) {
			display: none;
		}
		.navEl {
			font-size: 16px;
			color: var(--additional-theme-color);
			transition: all 0.3s ease-in-out;
			text-align: center;
		}
	}
}
