section.catalog {
	background: var(--main-theme-color);
	padding: 48px 0;
	@media (max-width: 768px) {
		padding: 24px 0 0 0;
	}
	.headRow {
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 32px;
    @media (max-width: 768px) {
			margin-bottom: 16px;
		}
		@media (max-width: 768px) {
			display: none;
		}
		h2 {
			color: var(--main-theme-color-2);
			font-size: 48px;
			font-family: 'Tinos';
			font-weight: 400;
		}
	}
	.catalogRow {
		width: 100%;
		flex-wrap: nowrap;
		gap: 24px;
		@media (max-width: 768px) {
			flex-direction: column;
			max-width: 320px;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
		.catalogEl {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 24px 3.5px;
			gap: 0;
			border-radius: 12px;
			border: 1px solid #c09f3d6b;
			@media (max-width: 768px) {
				flex-direction: column-reverse;
			}
			.imgWrapper {
				width: 280px;
				height: 280px;
				margin-bottom: 8px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.title {
				font-size: 32px;
				font-weight: 400;
				font-family: 'Tinos';
				color: var(--main-theme-color-2);
				margin-bottom: 23px;
			}
			.bottomRow {
				height: 257px;
				flex-direction: column;
				justify-content: end;
				align-items: center;
				flex-wrap: nowrap;
				gap: 0;
				@media (max-width: 768px) {
					display: none;
				}
				.linksRow {
					max-width: 255px;
					flex-direction: column;
					flex-wrap: nowrap;
					gap: 8px;
					align-items: center;
					justify-content: center;
					text-align: center;
					.link {
						color: #c09f3dab;
						font-size: 16px;
						font-weight: 400;
						text-decoration: underline;
					}
				}
				.catalogBtn {
					padding: 4px 16px;
					margin-top: 24px;
					background: var(--main-theme-color-2);
					border-radius: 4px;
					font-size: 20px;
					font-family: 'Tinos';
				}
			}
		}
		.catalogEl:last-child {
			p {
				max-width: 255px;
				text-align: center;
				margin-bottom: 0;
			}
			.bottomRow {
				height: 235px;
			}
		}
	}
}
