section.mainImgSection {
	padding: 0;
  background: var(--main-theme-color);
	.mainCont {
		max-width: 1920px;
		.sectionRow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      max-width: 1220px;
      height: 546px;
      margin: 0 auto;
      background-image: url('src/assets/img/main-img-2k.png');
			background-position: center;
			background-repeat: no-repeat;
      @media (max-width: 1920px) {
        max-width: 100%;
        height: 494px;
        background-image: url('src/assets/img/main-img.png');
				background-position: center;
			background-repeat: no-repeat;
      }
			.welcomeBlock {
				flex-direction: column;
				gap: 16px;
				align-items: center;
				justify-content: center;
				h1 {
					font-size: 76px;
					color: #fff;
					font-weight: 400;
					font-family: "Tinos";
				}
				p {
					font-size: 24px;
					color: #fff;
					font-family: "Tinos-Bold";
				}
			}
		}
	}
}
