.sliderBtnsWrapper {
  display: flex;
	transition: all 0.3s;
	justify-content: space-between;
	position: absolute;
	left: 50%;
	z-index: 1;
	height: 0;
	transform: translate(-50%, -50%);
	width: 100%;
	top: 0;
	opacity: 1;
	visibility: visible;
	button {
		height: min-content;
		transform: translateY(-50%);
		background: transparent;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
    svg {
      @media (max-width: 768px) {
        width: 10px;
        height: 32px;
      }
    }
	}
}