.candySliderSection {
	position: relative;
	background: var(--main-theme-color);
	padding: 48px 0 72px;
	@media (max-width: 768px) {
		padding: 16px 0 16px;
	}
}

.headRow {
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 1;
	.title {
		color: var(--main-theme-color-2);
		font-size: 48px;
		text-align: center;
		font-family: 'Tinos';
		@media (max-width: 768px) {
			font-size: 32px;
		}
	}
}

.sliderWrap {
	.swiper {
		.slide {
			.card {
				width: 100%;
				flex-direction: column;
				padding: 24px 16px;
				align-items: center;
				justify-content: center;
				gap: 0;
				.heartRow {
					width: 100%;
					justify-content: end;
					align-items: center;
					margin-bottom: 24px;
				}
				.imageWrap {
					width: 100%;
					height: 200px;
					margin-bottom: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
					img {
						@media (max-width: 768px) {
							margin: 0 auto;
						}
					}
				}
				.name {
					width: 100%;
					display: flex;
					justify-content: start;
					text-align: start;
					font-size: 16px;
					font-weight: 600;
					color: var(--main-theme-color-2);
					margin-bottom: 12px;
				}
				.metaRow {
					width: 100%;
					align-items: center;
					justify-content: space-between;
					padding-top: 12px;
					border-top: 1px solid #ffffff3a;
					.weight {
						font-size: 16px;
						color: #ffffff7d;
					}
					.price {
						font-size: 16px;
						color: #fff;
						font-weight: 600;
					}
				}
			}
		}
	}
	.sliderBtns {
		width: calc(100% + 128px);
		top: 50%;
		@media (max-width: 1400px) {
			width: calc(100% + 64px);
		}
		@media (max-width: 1310px) {
			width: calc(95%);
		}
		@media (max-width: 768px) {
			width: 90%;
		}
	}
}
