.footer {
	background: var(--main-theme-color);
	padding: 40px 0 56px 0;
	width: 100%;
	flex-shrink: 0;
	border-top: 1px solid #c09f3d46;
	@media (max-width: 1280px) {
		padding: 40px 24px 56px;
	}
	@media (max-width: 768px) {
		padding: 40px 0 56px 0;
	}
	.cont {
		@media (max-width: 768px) {
			padding: 0 48px 32px;
		}
	}
	.footerCont {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
		@media (max-width: 768px) {
			gap: 32px;
		}
		p {
			color: #fff;
			font-size: 16px;
			font-weight: 600;
		}
		.footerRow {
			flex-direction: column;
			gap: 16px;
			p {
				color: #fff;
				font-size: 16px;
			}
			.linkEl {
				color: #ffffffca;
				font-weight: 400;
				text-decoration: underline 1px solid #fff;
				font-size: 14px;
			}
			.aboutElRow {
				gap: 10px;
				align-items: start;
				p {
					color: #ffffffca;
					text-decoration: underline 1px solid #fff;
					font-size: 14px;
					max-width: 240px;
				}
			}
		}
	}
}

