.header {
	padding: 24px 0 32px;
	background: var(--main-theme-color);
	@media (max-width: 1280px) {
		padding: 24px 24px 32px;
	}
	@media (max-width: 768px) {
		padding: 0;
	}
	.headerCont {
		@media (max-width: 768px) {
			padding: 24px;
		}
	}
	.headerRow {
		flex-direction: column;
		gap: 24px;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.logo {
			cursor: pointer;
		}
		.controls {
			width: 100%;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			position: relative;
			@media (max-width: 768px) {
				flex-direction: column;
				width: max-content;
				justify-content: end;
				align-items: end;
			}
			.langSwitcher {
				gap: 16px;
				align-items: center;
				flex-wrap: nowrap;
				max-width: 143px;
				p {
					font-size: 18px;
					font-weight: 400;
					color: #fff;
					cursor: pointer;
				}
				.activeLang {
					color: var(--main-theme-color-2);
				}
			}
			.blankBlock {
				width: 143px;
			}
			.btns {
				position: absolute;
				top: 0;
				right: 0;
				flex-wrap: nowrap;
				align-items: center;
				gap: 15px;
				@media (max-width: 768px) {
					position: unset;
				}
			}
		}
	}
}
