.header {
	padding: 24px 0 32px;
	background: var(--main-theme-color);
	@media (max-width: 1340px) {
		padding: 20px 0 15px 0;
	}
	.headerRow {
		flex-direction: column;
		gap: 24px;
		align-items: center;
		.controls {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			.blankBlock {
				width: 143px;
			}
			.btns {
				flex-wrap: nowrap;
				align-items: center;
				gap: 15px;
			}
		}
	}
}

